body {
    background: #D4DFE6;
}

nav {
    z-index: 1;
}

.navside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f9f7f7;
    z-index: 0;
}

.content {
    margin-left: 250px;
    margin-top: 20px;
}

.brand {
    text-align: center;
    margin-top: 5px;
}

.tool-edit {
    margin: 10px;
}

.tool-btn {
    width: 100px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    margin-bottom: 10px;
}

.tool-btn-2 {
    width: 100%;
}

.tool {
    z-index: 1;
    position: fixed;
    top: 180px;
    right: 0;
}

.btn-custom {
    width: 110px;
}

.input-custom {
    margin-bottom: 5px;
}