.page-h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5625rem;
}

.page-h2 {
    text-align: center;
    font-size: 1.125rem;
}

.page-h3 {
    text-align: center;
    font-size: 1.125rem;
    font-style: italic;
}

.page-h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.4375rem;
}

.page-table {
    width: 100%;
}

.page-b1 {
    font-size: 1.125rem;
    padding: 0.3125rem;
    width: 5rem;
}

.page-b2 {
    font-size: 1.125rem;
    padding: 0.3125rem;
    width: 3.75rem;
}

.page-b3 {
    font-size: 1.125rem;
    padding: 0.3125rem;
}

.page-b4 {
    font-size: 1.125rem;
    padding-left: 0.3125rem;
    font-weight: bold;
}

.page-b5 {
    text-align: center;
    font-weight: bold
}

.page-b6 {
    font-size: 1.125rem;
    padding: 0.3125rem;
    width: 12.5rem;
}

.page-b7 {
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.3125rem;
    width: 12.5rem;
}

.page-b8 {
    font-weight: bold;
}

.page-b9 {
    width: 18.75rem;
    text-align: center;
}

.page-b10 {
    font-size: 1.125rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.page-b11 {
    font-size: 1.125rem;
    font-style: italic;
}

.page-b12 {
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
}