body {
    background-color: #D4DFE6;
}

.login-container {
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    margin: 40px auto 0 auto;
    padding: 50px;
}

.login-container h1 {
    text-align: center;
}

.login-container button {
    width: 100%;
}

.login-container .noti {
    text-align: center;
    color: red;
}