.container-custom{
    margin: 20px 20px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 15px;
}

.jumbotron-custom {
    padding: 10px 20px;
}

.jumbotron-custom:hover {
    background: #a09a9a;
    cursor: pointer;
}

.button-control {
    visibility: hidden;
}

.btn-custom {
    margin-left: 15px;
}

.jumbotron-custom h1 {
    text-align: center;
}

.jumbotron-custom-2 {
    padding: 10px 20px;
}

.btn-hidden {
    visibility: hidden;
}

.btn-custom {
    margin-left: 10px;
}

.table-result {
    background-color: #ffffff;
}

tbody>tr:hover {
    cursor: pointer;
}

.STT {
    width: 30px;
}

.dayVisit {
    width: 150px;
}

.Age {
    width: 30px;
}

.ExpectedDOB {
    width: 170px;
}

.message {
    display: none;
}

.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}