.jumbotron-custom-home {
    padding: 25px 20px;
}

.jumbotron-custom-home:hover {
    background: #a09a9a;
    cursor: pointer;
}

.jumbotron-custom-home a {
    color: #000;
}

.jumbotron-custom-home a:hover {
    color: #000;
    text-decoration: none;
}

.table-list-report th:nth-child(1) {
    width: 100px;
}

.table-list-report th:nth-child(3) {
    width: 300px;
}

.table-list-report th:nth-child(4) {
    width: 100px;
}

.table-list-report th:nth-child(5) {
    width: 100px;
}

/*style for add edit form*/
body {
    overflow-x: hidden;
    background: #D4DFE6 !important;
}

.tool {
    z-index: 1;
    position: fixed;
    top: 200px;
    right: 0;
}

.paper-container {
    width: 745px;
    min-height: 1100px;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 5px 5px 5px #7F7979;
    font-family: "Times New Roman", Times, serif;
}

.btn-setting-command {
    width: 100%;
    margin-bottom: 10px;
}

.jumbotron-custom-edit {
    padding: 25px 20px;
}

.btn-add-info {
    margin-right: -20px;
    margin-top: -25px;
}