<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link th:href="@{/resources/css/form.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/css/add.css}" rel="stylesheet" media="screen"/>
    <title>Sửa báo cáo</title>
</head>
<body>
<div class="modal fade" id="notifyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="tool">
    <button id="btn-print" type="button" class="btn btn-primary btn-lg btn-custom"><i class="fas fa-print"></i> In thử</button>
    <br><br>
    <button id="btn-save-2" type="button" class="btn btn-success btn-lg btn-custom"><i class="fas fa-save"></i> Lưu</button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" th:href="@{/}" th:text="|Xin chào, ${username}|">...</a>
            <li class="active"><a class="nav-link" th:href="@{/setting/manager-form}"><i class="fas fa-file-word"></i> Quản lí
                kết quả</a></li>
            <li><a class="nav-link" th:href="@{/setting/manager-clinic}"><i class="fas fa-table"></i> Quản lí phòng khám</a></li>
            <li><a class="nav-link" th:href="@{/setting/manager-user}"><i class="fas fa-user"></i> Quản lí đăng nhập</a></li>
        </ul>
        <ul class="navbar-nav">
            <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
            <li><a class="nav-link" th:href="@{/setting/manager-form}"><i class="fas fa-undo"></i> Quay lại</a></li>
        </ul>
    </div>
</nav>
<div class="navside">
    <h3 class="brand">Phòng khám 158</h3>
    <hr>
    <div class="tool-edit">
        <div class="input-group mb-3">
            <input id="number-add-row" type="text" class="form-control" placeholder="Nhập vị trí">
            <div class="input-group-append">
                <button id="add-row" class="btn btn-primary tool-btn" type="button">Chèn hàng</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <input id="number-add-col" type="text" class="form-control" placeholder="Nhập vị trí">
            <div class="input-group-append">
                <button id="add-col" class="btn btn-primary tool-btn" type="button">Chèn cột</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <input id="number-delete-row" type="text" class="form-control" placeholder="Nhập vị trí">
            <div class="input-group-append">
                <button id="delete-row" class="btn btn-danger tool-btn" type="button">Xóa hàng</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <input id="number-delete-col" type="text" class="form-control" placeholder="Nhập vị trí">
            <div class="input-group-append">
                <button id="delete-col" class="btn btn-danger tool-btn" type="button">Xóa cột</button>
            </div>
        </div>
        <hr>
        <h6>Gộp hàng</h6>
        <div class="grid">
            <input id="number-merge-row-row" type="text" class="form-control" placeholder="Hàng">
            <input id="number-merge-row-col" type="text" class="form-control" placeholder="Cột">
        </div>
        <input id="number-merge-row-total" type="text" class="form-control input-custom" placeholder="Số ô gộp">
        <button id="merge-row" class="btn btn-primary tool-btn-2" type="button">Gộp hàng</button>
        <hr>
        <h6>Gộp cột</h6>
        <div class="grid">
            <input id="number-merge-col-row" type="text" class="form-control" placeholder="Hàng">
            <input id="number-merge-col-col" type="text" class="form-control" placeholder="Cột">
        </div>
        <input id="number-merge-col-total" type="text" class="form-control input-custom" placeholder="Số ô gộp">
        <button id="merge-col" class="btn btn-primary tool-btn-2" type="button">Gộp cột</button>
    </div>
</div>
<div id="content" class="content" th:name="${id}" th:utext="${content}">content</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/resources/js/colResizable-1.6.min.js}"></script>
<script th:src="@{/resources/js/printThis.js}"></script>
<script th:src="@{/resources/js/addedit.js}"></script>
</html>