<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link href="../static/css/add.css" rel="stylesheet" type="text/css" th:href="@{/css/add.css}"/>
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"
          th:href="@{/css/fontawesome-all.min.css}"/>
    <title>Sửa báo cáo</title>
</head>
<body>
<header>
    <div class="navtop">
        <div id="back"><span class="fas fa-undo"></span> QUAY LẠI</div>
        <div id="save2"><span class="far fa-save"></span> LƯU</div>
        <div id="btn-print"><span class="fas fa-print"></span> IN</div>
    </div>
    <div id="modalNotify" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p id="notify-header"></p>
            </div>
            <hr>
            <div class="modal-body">
                <h1 id="notify-content"></h1>
            </div>
            <hr>
            <div class="modal-footer">
                <div class="btn-close">Đóng</div>
            </div>
        </div>
    </div>
    <div class="tool-edit">
        <h3><span class="fas fa-edit"></span> Chỉnh sửa</h3>
        <hr>
        <div class="tool-edit-title" id="add-row"><span class="fas fa-plus-square"></span> Chèn hàng</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí hàng cần thêm</p>
            <input/>
            <div class="acept-add" id="acept-add-row">Thêm hàng</div>
        </div>
        <hr>
        <div class="tool-edit-title" id="add-col"><span class="fas fa-plus-square"></span> Chèn cột</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí cột cần thêm</p>
            <input/>
            <div class="acept-add" id="acept-add-col">Thêm cột</div>
        </div>
        <hr>
        <div class="tool-edit-title"><span class="fas fa-trash-alt"></span> Xóa hàng</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí hàng cần xóa</p>
            <input/>
            <div class="acept-delete" id="delete-row">Xóa</div>
        </div>
        <hr>
        <div class="tool-edit-title"><span class="fas fa-trash-alt"></span> Xóa cột</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí cột cần xóa</p>
            <input/>
            <div class="acept-delete" id="delete-col">Xóa</div>
        </div>
        <hr>
        <div class="tool-edit-title"><span class="fas fa-table"></span> Gộp hàng</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí của ô cần gộp</p>
            <div class="merge">
                <input placeholder="Hàng">
                <input placeholder="Cột" style="margin-left: 0">
            </div>
            <p>Số ô gộp</p>
            <input id="inp-tRow">
            <div class="acept-add" id="merge-row">Gộp hàng</div>
        </div>
        <hr>
        <div class="tool-edit-title"><span class="fas fa-table"></span> Gộp cột</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí của ô cần gộp</p>
            <div class="merge">
                <input placeholder="Hàng">
                <input placeholder="Cột" style="margin-left: 0">
            </div>
            <p>Số ô gộp</p>
            <input id="inp-tCol">
            <div class="acept-add" id="merge-col">Gộp cột</div>
        </div>
        <hr>
        <div class="tool-edit-title"><span class="fas fa-times-circle"></span> Vô hiệu hóa ô</div>
        <div class="tool-edit-content">
            <p>Nhập vị trí ô cần vô hiệu hóa</p>
            <div class="merge">
                <input placeholder="Hàng">
                <input placeholder="Cột" style="margin-left: 0">
            </div>
            <div class="acept-add" id="disable">Vô hiệu hóa</div>
        </div>
    </div>
</header>
<main th:id="${id}">
    <div id="spinner" class="spinner">
        <div class="spinner-content">
            <div class="spin"></div>
        </div>
    </div>
    <div id="content" class="content" th:utext="${content}">content</div>
</main>
<script src="../static/js/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/colResizable-1.6.min.js" type="text/javascript" th:src="@{/js/colResizable-1.6.min.js}"></script>
<script src="../static/js/printThis.js" type="text/javascript" th:src="@{/js/printThis.js}"></script>
<script src="../static/js/add.js" type="text/javascript" th:src="@{/js/add.js}"></script>
</body>
</html>