<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="result" th:remove="tag">
    <link href="../static/css/edit.css" rel="stylesheet" type="text/css" th:href="@{/css/edit.css}"/>
    <div class="page" th:id="${id}">
        <div class="page-container">
            <div class="no-edit">
                <p class="page-h1">PHÒNG KHÁM SẢN - PHỤ KHOA</p>
                <p class="page-h2">Địa chỉ : 158 Ngô quyền - Hoàng Xá - Thị Trấn An Lão - Hải phòng</p>
                <p class="page-h2">Điện thoại : 0916483289</p>
                <p class="page-h3">Siêu âm màu 4 chiều, siêu âm đầu dò âm đạo, siêu âm thai</p>
                <p class="page-h3">ổ bụng, phụ khoa, siêu âm vú</p>
                <br>
                <p class="page-h4">KẾT QUẢ SIÊU ÂM MÀU 4 CHIỀU</p>
                <br>
                <table class="page-table">
                    <tr>
                        <td class="page-b1">Họ và tên:</td>
                        <td><input id="input0" type="text" placeholder="Nhập tên" disabled></td>
                        <td class="page-b2">Tuổi:</td>
                        <td><input id="input1" type="text" value=" tuổi" disabled></td>
                    </tr>
                    <tr>
                        <td class="page-b3">Địa chỉ:</td>
                        <td colspan="3"><input id="input2" type="text" placeholder="Nhập địa chỉ" size="55" disabled></td>
                    </tr>
                </table>
            </div>
            <p class="page-b4 no-edit">Yêu cầu kiểm tra: </p>
            <input th:value="${formContents[0].getClass1()}" id="c1-0">
            <p class="page-b5 no-edit">KẾT QUẢ:</p>
            <table class="page-table" id="table-content">
                <span th:each="formContent, iter : ${formContents}"
                      th:if="${iter.index} != 0 and ${iter.index} < ${iter.size-1}" th:remove="tag">
                    <tr>
                        <td class="page-b6"><input th:value="${formContent.getClass1()}"
                                                   th:id="|c1-${iter.index}|"></td>
                        <td><input th:value="${formContent.getClass2()}" th:id="|c2-${iter.index}|" size="40"/></td>
                    </tr>
                </span>
            </table>
            <table class="table-add">
                <tr>
                    <td id="add" class="add"><span class="fas fa-plus-circle"></span></td>
                </tr>
            </table>
            <br>
            <table class="page-table" id="table-content-2">
                <tr>
                    <span th:each="formContent, iter : ${formContents}"
                          th:if="${iter.last}" th:remove="tag">
                        <td class="page-b7"><input th:value="${formContent.getClass1()}" th:id="|c1-${iter.index}|"></td>
                        <td><input class="page-b8" th:value="${formContent.getClass2()}"
                                   th:id="|c2-${iter.index}|" size="40"></td>
                    </span>
                </tr>
            </table>
            <div class="no-edit">
                <br>
                <table class="page-table">
                    <tr>
                        <td class="page-b9">Ảnh</td>
                        <td>
                            <div class="page-b10">
                                <p th:text="|Ngày ${#dates.day(date)} tháng ${#dates.month(date)} năm ${#dates.year(date)}|"></p>
                                <br>
                                <p>Người siêu âm</p>
                            </div>
                            <br><br><br><br><br><br><br>
                        </td>
                    </tr>
                </table>
                <br>
                <p class="page-h3">Lời dặn</p>
                <p class="page-b11">- Một tuần sau khám lại</p>
                <p class="page-b11">- Nếu thấy bất thường( đau bụng, ra máu...) đến khám ngay</p>
                <p class="page-b11">- Nếu siêu âm đầy đủ các chu kì sẽ sớm phát hiện được >90% dị tật thai nhi</p>
                <p class="page-h3">( Siêu âm không ảnh hưởng đến thai nhi và bà mẹ)</p>
            </div>
        </div>
    </div>
    <script>
        $("#add").on("click", function () {
            var id = $("#table-content tr").length + 1;
            var array = [];
            for(var i = 1; i < id; i++) {
                var class1 = $("#c1-" + i).val();
                class1 = typeof (class1) === "undefined" ? "" : class1;
                var class2 = $("#c2-" + i).val();
                class2 = typeof (class2) === "undefined" ? "" : class2;
                var form = {
                    Class1: class1,
                    Class2: class2
                };
                array.push(form);
            }
            var orHtml = $("#table-content").html();
            orHtml += "<tr><td class=\"page-b6\"><input id=\"c1-" + id +"\"></td>" +
                "<td><input id=\"c2-" + id + "\" size=\"40\"/></td></tr>";
            $("#table-content").html(orHtml);
            for(var i = 1; i < id; i++) {
                $("#c1-" + i).val(array[i-1].Class1);
                $("#c2-" + i).val(array[i-1].Class2);
            }
            id = id +1;
            $("#table-content-2 input:first").attr("id", "c1-"+id);
            $("#table-content-2 input:last").attr("id", "c2-"+id);
        });

        $("#save").on("click", function () {
            $(".spinner").attr("style", "display: flex");
            var id = $(".page").attr("id");
            var totalId = $("#table-content tr, #table-content-2 tr").length;
            var array = [];
            for(var i = 0; i <= totalId; i++) {
                var class1 = $("#c1-" + i).val();
                class1 = typeof (class1) === "undefined" ? "" : class1;
                var class2 = $("#c2-" + i).val();
                class2 = typeof (class2) === "undefined" ? "" : class2;
                var form = {
                    Class1: class1,
                    Class2: class2
                };
                array.push(form);
            }
            $.ajax({
                //For test
                // url: "http://" + window.location.host + "/Phongkham158/Setting/Edit",
                url: "http://" + window.location.host + "/Setting/Edit",
                type: 'POST',
                dataType: 'html',
                data: {
                    id: id,
                    data: JSON.stringify(array)
                },
                error: function(){
                    notify("Lỗi", "Không thể xử lí dữ liệu");
                }
            }).done(function (result) {
                $(".spinner").removeAttr("style");
                notify("Thông báo", result);
            });
        });
    </script>
</div>
</html>