<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/png"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/css/login.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div class="signin-card">
        <div class="logo-image">
            <img th:src="@{/resources/images/logo.png}" width="138">
        </div>
        <h1 class="display1">Phòng khám 158</h1>
        <p class="subhead" th:if="${param.error}">Đăng nhập vào hệ thống</p>
        <form th:action="@{/login}" method="post" role="form">
            <div class="form-group">
                <input class="form-control" name="username" type="text" size="18" alt="login" required/>
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label class="float-label">Tên đăng nhập</label>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" type="password" size="18" alt="password" required>
                <span class="form-highlight"></span>
                <span class="form-bar"></span>
                <label class="float-label">Mật khẩu</label>
            </div>
            <p class="subhead" th:if="${param.error}">Đăng nhập không thành công</p>
            <p class="subhead" th:if="${param.logout}">Bạn vừa đăng xuất thành công</p>
            <div class="form-group">
                <div class="checkbox checkbox-default">
                    <input id="remember" type="checkbox" checked name="remember-me">
                    <label><span class="chk-span checked" tabindex="2"></span>Nhớ đăng nhập</label>
                </div>
            </div>
            <div>
                <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" alt="sign in">Đăng nhập
                </button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script>
    $(".checkbox").on("click", function () {
        if(document.getElementById("remember").checked == true) {
            $(".chk-span").attr("class", "chk-span");
            document.getElementById("remember").checked = false;
        } else {
            $(".chk-span").attr("class", "chk-span checked");
            document.getElementById("remember").checked = true;
        }
    });
</script>
</body>
</html>