<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <style>
            body {
                background-color: #F0F0F0;
            }

            .page {
                width: 46.5625rem;
                margin: auto;
                background-color: #fff;
                border: solid #000000 2px;
            }

            .page-container {
                margin: 1.875rem;
            }
        </style>
    </head>
    <body>
    <div class="page">
        <div class="page-container">
            <div th:utext="${Content}"></div>
        </div>
    </div>
    </body>
</html>