<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/resources/css/setting.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Quản lí phòng khám</title>
</head>
<body>
<div class="modal fade" id="notifyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" th:href="@{/}" th:text="|Xin chào, ${username}|">...</a>
            <li><a class="nav-link" th:href="@{/setting/manager-form}"><i class="fas fa-file-word"></i> Quản lí
                kết quả</a></li>
            <li class="active"><a class="nav-link" th:href="@{/setting/manager-clinic}"><i class="fas fa-table"></i> Quản lí
                phòng khám</a></li>
            <li><a class="nav-link" th:href="@{/setting/manager-user}"><i class="fas fa-user"></i> Quản lí đăng nhập</a></li>
        </ul>
        <ul class="navbar-nav">
            <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
            <li><a class="nav-link" th:href="@{/}"><i class="fas fa-undo"></i> Quay lại</a></li>
        </ul>
    </div>
</nav>
<div class="container-custom">
    <div class="jumbotron  jumbotron-custom-2">
        <div class="form-group">
            <h3>Nhập ngày cần xem:</h3>
            <input type="text" class="form-control" id="date" placeholder="dd/mm/yyyy">
        </div>
        <button type="button" class="btn btn-hidden">.</button>
        <button type="button" id="btn-reload" class="btn btn-danger btn-custom float-right"><i
                class="fas fa-sync-alt"></i> Nhập lại
        </button>
        <button type="button" id="btn-search" class="btn btn-primary btn-custom  float-right"><i
                class="fas fa-search"></i> Tìm kiếm
        </button>
    </div>
    <div class="message">
        <h5>Danh sách các ca đã in nhưng không được lưu ngày: <span id="MsgDate">...</span></h5>
        <h5>Tổng số ca: <span id="MsgTotal">...</span></h5>
    </div>
    <div class="table-result" id="display-result"></div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script th:src="@{/resources/js/cleave.min.js}"></script>
<script>
    function notify(title, message) {
        $("#notifyModal .modal-title").html(title);
        $("#notifyModal .modal-body").html(message);
        $("#notifyModal").modal({backdrop: "static"});
    }

    function PopupCenter(url, title, w, h) {
        // Fixes dual-screen position                         Most browsers      Firefox
        var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX;
        var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY;

        var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
        var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

        var left = ((width / 2) - (w / 2)) + dualScreenLeft;
        var top = ((height / 2) - (h / 2)) + dualScreenTop;
        var newWindow = window.open(url, title, 'scrollbars=yes, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        // Puts focus on the newWindow
        if (window.focus) {
            newWindow.focus();
        }
    }

    new Cleave('#date', {
        date: true,
        datePattern: ['d', 'm', 'Y']
    });

    $("#btn-reload").on('click', function () {
        $("#date").val("");
    });

    $("#btn-search").on('click', function () {
        var dayVisit = $("#date").val();
        if (dayVisit == "") {
            notify("Thông báo", "Không được bỏ trống ô nhập ngày");
            return;
        }
        if (dayVisit.length != 10) {
            notify("Thông báo", "Ngày không được nhập chính xác");
            return;
        }
        $("#MsgDate").html(dayVisit);
        var parts = dayVisit.split("/");
        dayVisit = new Date(parts[2], parts[1] - 1, parts[0]);
        $.ajax({
            url: document.location.origin + "/customerHidden/Search",
            type: 'GET',
            dataType: 'html',
            data: {
                dayVisit: dayVisit
            },
            error: function () {
                notify("Lỗi", "Không thể xử lí dữ liệu");
            }
        }).done(function (result) {
            $("#display-result").html(result);
            var MsgTotal = $("#display-result tbody tr").length;
            $("#MsgTotal").html(MsgTotal);
            $(".message").fadeIn("fast");
        });
    });
</script>
</html>