<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"
          th:href="@{/css/fontawesome-all.min.css}"/>
    <title>Quản lí phòng khám</title>
</head>
<body>
<header>
    <div class="navtop">
        <div>QUẢN LÍ PHÒNG KHÁM</div>
    </div>
    <div id="modalNotify" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p id="notify-header"></p>
            </div>
            <hr>
            <div class="modal-body">
                <h1 id="notify-content"></h1>
            </div>
            <hr>
            <div class="modal-footer">
                <div class="btn-close">Đóng</div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="reportHidden">
        <div class="searchHidden">
            <div class="searchHidden-body">
                <h2>Nhập ngày</h2>
                <input type="text" id="inputDayVisitHidden" placeholder="dd/MM/yyy" name="inputDayVisit">
            </div>
            <hr>
            <div class="searchHidden-footer">
                <div class="btn-reload-searchHidden" id="btn-reload-searchHidden"><span class="fas fa-sync-alt"></span>
                    Nhập lại
                </div>
                <div class="btn-searchHidden" id="btn-searchHidden"><span class="fas fa-search"></span> Tìm kiếm</div>
            </div>
        </div>
        <br>
        <div class="message">
            <h3>Danh sách các ca đã in nhưng không được lưu ngày: <span id="MsgDate">...</span></h3>
            <h3>Tổng số ca: <span id="MsgTotal">...</span></h3>
        </div>
        <div class="display-result" id="display-resultHidden"></div>
        <div id="display-report" class="display-report">
            <div class="report-opacity"></div>
            <div class="report-close" id="report-close"><span class="fas fa-window-close"></span></div>
            <div class="report-content">
                <div class="page">
                    <div class="page-container">
                        <div id="report"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-content">
        <p>Phát triển bởi: Đỗ Trung Đức</p>
    </div>
</footer>
<script src="../static/js/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/cleave.min.js" type="text/javascript" th:src="@{/js/cleave.min.js}"></script>
<script src="../static/js/main.js" type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    $("#btn-reload-searchHidden").on("click", function () {
        $(".searchHidden-body input").val("");
    });

    $("#btn-searchHidden").on("click", function () {
        var dayVisit = $("#inputDayVisitHidden").val();
        if (dayVisit == "") {
            notify("Thông báo", "Không được bỏ trống ô nhập ngày");
            return;
        }
        if (dayVisit.length != 10) {
            notify("Thông báo", "Ngày không được nhập chính xác");
            return;
        }
        $("#MsgDate").html(dayVisit);
        parts = dayVisit.split("/");
        var dayVisit = new Date(parts[2], parts[1] - 1, parts[0]);
        $.ajax({
            url: "http://" + window.location.host + "/Phongkham158/CustomerHidden/Search",
            type: 'GET',
            dataType: 'html',
            data: {
                dayVisit: dayVisit
            },
            error: function () {
                notify("Lỗi", "Không thể xử lí dữ liệu");
            }
        }).done(function (result) {
            $("#display-resultHidden").html(result);
            $(".message").fadeIn("fast");
            $(".alert").fadeOut();
            $(".searchHidden").removeAttr("style");
            $("footer").fadeOut();
        });
    });

    $("#inputDayVisitHidden").on("keydown", function (e) {
        if (e.which === 13) {
            $("#btn-searchHidden").click();
        }
    });

    $("#report-close").on("click", function () {
        $("#display-report").fadeOut("fast");
        if ($(".display-result-content tr").length > 10) {
            $("footer").attr("style", "position: static; bottom: auto");
        } else {
            $("footer").removeAttr("style");
        }
    });
    new Cleave('#inputDayVisitHidden', {
        date: true,
        datePattern: ['d', 'm', 'Y']
    });
</script>
</body>
</html>