<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/resources/images/favicon.ico}" rel="icon" type="image/png"/>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/css/form.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/resources/css/fontawesome-all.min.css}" rel="stylesheet" media="screen"/>
    <title>Báo cáo siêu âm</title>
</head>
<body>
<div class="modal fade" id="notifyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/}" th:text="|Xin chào, ${username}|">...</a>
            </li>
            <li th:each="reportForm:${reportForms}" th:class="(${reportForm.getReportName()} == ${title}) ? 'active' : ''">
                <a th:href="|/reportForm/${reportForm.getId()}|" th:text="${reportForm.getReportName()}">...</a>
            </li>
        </ul>
    </div>
    <div id="navbar-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li id="menu-toggle"><a class="nav-link"><i class="fas fa-arrow-right"></i> Kết quả siêu âm</a></li>
                    <li class="active"><a class="nav-link" th:href="@{/report}">
                        <i class="fas fa-file-excel"></i> Báo cáo siêu âm</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
                    <li><a class="nav-link" th:href="@{/setting/manager-form}"><i class="fas fa-cog"></i> Cài đặt</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="jumbotron jumbotron-custom">
                <h1>Tìm kiếm</h1>
                <hr>
                <div class="grid">
                    <div class="form-group">
                        <label for="inputName">Họ và tên:</label>
                        <input type="text" class="form-control" id="inputName" placeholder="Nhập họ và tên">
                        <div id="auto-inputName" class="autoInput"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputAge">Năm sinh / Tuổi</label>
                        <input type="text" class="form-control" id="inputAge" placeholder="Nhập tuổi">
                        <div id="auto-inputAge" class="autoInput"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Địa chỉ:</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Nhập địa chỉ">
                        <div id="auto-inputAddress" class="autoInput"></div>
                    </div>
                    <div class="form-group">
                        <label for="inputDayVisit">Ngày đến khám:</label>
                        <input type="text" class="form-control" id="inputDayVisit" placeholder="dd/MM/yyyy">
                    </div>
                </div>
                <hr>
                <button type="button" class="btn btn-hidden">.</button>
                <button type="button" id="btn-reload" class="btn btn-danger btn-custom float-right"><i
                        class="fas fa-sync-alt"></i> Nhập lại
                </button>
                <button type="button" id="btn-search" class="btn btn-primary btn-custom  float-right"><i
                        class="fas fa-search"></i> Tìm kiếm
                </button>
            </div>
            <div class="table-result" id="display-result"></div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/js/cleave.min.js}"></script>
<script th:src="@{/resources/js/report.js}"></script>
</html>