<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon" th:href="@{/img/favicon.ico}"/>
        <link href="../static/css/style.css" rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <link href="../static/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" th:href="@{/css/fontawesome-all.min.css}"/>
        <title>Kết quả siêu âm</title>
    </head>
    <body>
        <header>
            <div class="navtop">
                <div>PHÒNG KHÁM 158</div>
            </div>
        </header>
    </body>
    <main>
        <div class="content-default" th:if="${Content == null}">
            <p>Không có nội dung</p>
        </div>
        <div class="page" th:if="${Content != null}">
            <div class="page-container">
                <div th:utext="${Content}">Không có nội dung</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>Phát triển bởi: Đỗ Trung Đức</p>
        </div>
    </footer>
    <script src="../static/js/jquery.min.js" type="text/javascript" th:src="@{/js/jquery.min.js}" th:if="${Content != null}"></script>
    <script th:if="${Content != null}">
        $("footer").attr("style", "position: static; bottom: auto");
    </script>
</html>