<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<table class="table table-bordered table-hover">
    <thead class="thead-light">
    <tr>
        <th class="STT">STT</th>
        <th>Họ và tên</th>
        <th class="Age">Tuổi</th>
        <th>Địa chỉ</th>
        <th>Kết quả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer, iter : ${customers}" th:if="${not #lists.isEmpty(customers)}"
        th:id="${customer.getId()}" class="customer">
        <td th:text="${iter.count}">...</td>
        <td th:text="${customer.getCustomerName()}">...</td>
        <span th:remove="tag" th:if="${customer.getYob() != 0}">
<td th:text="${#dates.year(#dates.createNow()) - customer.getYob()}">...</td>
</span>
        <span th:remove="tag" th:unless="${customer.getYob() != 0}">
<td></td>
</span>
        <td th:text="${customer.getAddress()}">...</td>
        <td th:text="${customer.getResult()}">...</td>
    </tr>
    </tbody>
</table>
<script>
    $(".customer").on("click", function () {
        var id = $(this).attr("id");
        var url = document.location.origin + "/customerHidden/report/" + id;
        PopupCenter(url, 'Báo cáo chi tiết', '800', '2000');
    });
</script>
</html>