<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/images/favicon.png}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/setting.css}">
    <title>Quản lý báo cáo</title>
</head>
<body>
<div th:replace="fragments/notify"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li><a class="navbar-brand" th:href="@{/}" th:text="|Xin chào, ${fullName}|">...</a></li>
        </ul>
        <ul class="navbar-nav">
            <li><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a></li>
            <li><a class="nav-link" th:href="@{/setting}"><i class="fas fa-undo"></i> Quay lại</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container-fluid">
    <h3>Danh sách báo cáo</h3>
    <hr>
    <table class="table table-bordered table-hover table-light table-list-report">
        <thead class="thead-light">
        <tr>
            <th>STT</th>
            <th>Tên báo cáo</th>
            <th>Lần sửa cuối</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report, iter : ${reportList}">
            <td th:text="${iter.count}">...</td>
            <td th:text="${report.getReportName()}">...</td>
            <td th:text="${#dates.format(report.getLastEdit(), 'dd/MM/yyyy h:mm:ss')}">...</td>
            <td><button class="btn btn-primary"><i class="fas fa-edit"></i> Sửa</button></td>
            <td><button class="btn btn-danger"><i class="fas fa-trash"></i> Xóa</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{/resources/js/setting-manager-form.js}"></script>
</html>